.borda {
    border: solid 1px gray;
}

.borda-texto {
    border-bottom: solid 1px black;
}



 /*@page {
    size: A4; 
    padding: 8mm, 8mm, 14mm, 8mm;
  }*/ 

@page {
    size: A4;
    margin: 8mm 6mm 14mm 6mm;    
}

@media print 
{
    div .visitacoes {
        break-inside: avoid;
    }

    html, body {
        width: 210mm;
        /* height: 297mm; */
        height: 282mm;
        font-size: 15px;
        background: #FFF;
        overflow: visible;
    }

}



.visitacoes {
    display: table;
}
